body {
    background-color: #f4e1d2;
    color: #4e3b31;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: #6a4e3c;
    margin-top: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
    color: #5d4037;
    margin: 15px 20px;
}

a {
    color: #d25e28;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #a14e2f;
}

.laboratories-container {
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #f7e2d0;
    padding: 15px 25px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
    border: 2px solid #d25e28;
}

ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

li a {
    color: #6a4e3c; 
    text-decoration: none;
    font-weight: normal;
    display: block;
    padding: 8px 15px;
    background-color: #f7e2d0;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

li a:hover {
    background-color: #d25e28;
    color: #ffffff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
    background-color: #6a4e3c;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.1em;
    margin-top: 40px;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    color: #6a4e3c;
    margin-top: 50px;
    margin-bottom: 20px;
}